<form ngForm #form="ngForm" (submit)="onSubmit(form)">
  <div class="form-group">
    <label for="name">Name: </label>
    <input required minlength="3" maxlength="20" ngModel name="name" #name="ngModel" (blur)="onNameChange(name)" type="text" id="name" class="form-control" />
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
      <div *ngIf="name.errors?.['required']">Name is required.</div>
      <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters.</div>
      <div *ngIf="name.errors?.['maxlength']">Name must be at most 20 characters.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment: </label>
    <textarea ngModel name="comment" #comment="ngModel" id="comment" class="form-control" ></textarea>
  </div>
  <div class="form-group">
    <input type="checkbox" ngModel name="isSubscribed" /> is subscribed
  </div>
  <div class="form-group">
    <label for="contactMethod"> Contact method:</label>
    <select ngModel name="contactMethod" #contactMethod="ngModel" id="contactMethod">
      <option value="email">Email</option>
      <option value="phone">Phone</option>
    </select>
  </div>
  <div class="form-group">
    <input type="radio" ngModel name="gender" value="male" /> Male
    <input type="radio" ngModel name="gender" value="female" /> Female
  </div>
  <div>
    <h3>Data provided in the form</h3>
    {{ form.value | json }}
  </div>
  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>
