<h1>Angular</h1>
<!--<app-course></app-course>-->
<!--<app-binding></app-binding>-->
<!--Binding input and output properties to a component-->
<!--<app-component-input-output-property [emailOutsideBinder]="emailOutside" (enterPressedEvent)="enterPressedEventHandler($event)"></app-component-input-output-property>-->
<!--<app-ng-content>-->
<!--  <div class="head">-->
<!--    <h2>Head</h2>-->
<!--  </div>-->
<!--  <div class="body">-->
<!--    <h2>Body</h2>-->
<!--    other contents.....-->
<!--  </div>-->
<!--</app-ng-content>-->
<!--<app-directives></app-directives>-->
<app-form></app-form>
