<!--property binding-->
<h2 [textContent]="title"></h2>
<table>
  <tr>
    <!-- attribute binding   -->
    <td [attr.colspan]="tableColspan">1</td>
    <td>2</td>
  </tr>
  <tr>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
</table>
<!--style binding-->
<div [style.backgroundColor]="isActive ? 'black' : 'blue'">
  <!-- class binding  -->
  <button class="btn btn-primary" [class.active]="isActive">Save</button>
</div>
<div>
  <!-- Two-way binding. Following both technique we can use to bind an input field with a component field back and forth. -->
  <input #inputEmail [value]="email" (keyup.enter)="email = inputEmail.value; enterPressed()" />
  <input [(ngModel)]="email" (keyup.enter)="enterPressed()" />
</div>
